* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
}

:root {
    --button-background: #1a97ea;
    --button-color: #fff;
    --button-background-hover: #1887d1;
    --button-background-disabled: #383636;
    --button-2-background: deeppink;
    --button-2-background-hover: rgb(255, 42, 155);
    --background-color-todo-text: rgb(181, 181, 181);
    --border-radius: 4px;
    --padding-window: 0.6rem;
}

body {
    background-color: #fff;
}

/* main container */
.container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 1fr 2fr 12fr;
    grid-template-columns: 1fr 3fr;
    
    background-color:#000;
    color: #fff;
}

/* top container (1row) */
.header-section {
    display: grid;
    align-items: center;
    grid-column: 1 / 3;

    font-size: 2rem;
    background-color: rgb(19, 19, 19);
    padding-left: 1rem;
}

/* left side container (2row) */
.create-project-section {
    grid-row: 2;
    grid-column: 1 / 2;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    background-color: rgb(19, 19, 19);
    height: 100%;
    padding-left: 1rem;
}

.create-project-text {
    text-align: center;
    font-size: 1.5rem;
    justify-self: start;
}

.btn-addProject {
    justify-self: start;
    width: 70px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--button-background);
    color: var(--button-color);
}

.btn-addProject:hover {
    background-color: var(--button-background-hover);
}

.btn-addProject:disabled {
    background-color: var(--button-background-disabled);
}

/* create todo section (2row)*/
.create-todo-section {
    display: grid;
    grid-template-columns: 1fr 9fr;
    justify-items: center;
    align-items: center;
    /* row-gap: 1rem; */

    background-color: rgb(19, 19, 19);
}

.create-todo-text {
    font-size: 1.5rem;
}

.btn-addToDo {
    justify-self: start;
    width: 70px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--button-background);
    color: var(--button-color);
}

.btn-addToDo:hover {
    background-color: var(--button-background-hover);
}

.btn-addToDo:disabled {
    background-color: var(--button-background-disabled);
}

/* text and buttons for projects (3row) */
.project-section {
    grid-row: 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: center;
    /* border-right: 1px solid #fff; */
    min-width: 400px;
    background-color: rgb(19, 19, 19);
}


.project-display-info {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column: 1/ 3;
    width: 100%;
    padding-left: 1rem;
}

.project-text{
    justify-self: start;
    font-size: 1.5rem;
}

.project-name { 
    font-size: 1.5rem;
}

.project-display-buttons {
    align-self: start;
    grid-column: 1/ 3;
    display: grid;
    grid-auto-rows: 30px;
    justify-items: center;
    row-gap: 1rem;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.btn-newProject {
    background-color: var(--button-2-background);
    border: none;
    width: 90%;
    
}

.btn-newProject:hover {
    background-color: var(--button-2-background-hover);
    color: #000;
}

.btn-newProject:disabled {
    background-color: var(--button-background-disabled);
    color: white;
}

.btn-deleteProject {
    width: 100%;
    min-width: 100px;
    height: 100%;
    border: none;
    background-color: var(--button-background);
    color: var(--button-color);
}

.btn-deleteProject:hover {
    background-color: var(--button-background-hover);
}

.btn-deleteProject:disabled {
    background-color: var(--button-background-disabled);
}

/* created with JavaScript */
/* window for creating/deleting a project */
.project {
    position: absolute;
    height: 15%;
    background-color: #2c2c2c;
    border: 1px solid #000;
    border-radius: var(--border-radius);
    padding: var(--padding-window);
    font-size: 1.2rem;

    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 3fr 1fr;
    justify-items: start;
    align-items: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.project-header {
    justify-self: start;
    padding-left: 0.2rem;
    font-size: 1.2rem;
}

.button-close {
    grid-column: 2 / 3;
    justify-self: end;

    background-color: rgb(250, 2, 2);
    color: #fff;
    border: none;
    width: 20px;
    height: 20px;
}

.button-close:hover {
    background-color: rgb(178, 23, 23);
}

.project-form {
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

.project-label {

}

.project-input {
    width: 100%;
    padding-left: 0.2rem;
    text-align: center;
}

.input-submit {
    width: 90%;
    height: 25px;
    border: none;
    background-color: var(--button-background);
    color: var(--button-color);
}

.input-submit:hover {
    background-color: var(--button-background-hover);
}

/* window for creating new todos */
.create-todo {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 1fr;


    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    width: 37%;
    
    border-radius: var(--border-radius);
    padding: var(--padding-window);
    background-color: #2c2c2c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.create-todo-header {
    /* border: 1px solid red; */
    height: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}


.create-todo-form {
    grid-column: 1 / 3;

    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 2rem;
}

.create-todo-label {
    font-size: 1.2rem;
}

.create-todo-divContainer-title {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.create-todo-input-title {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem; 
}

.create-todo-divContainer-description {
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.create-todo-input-description {
    /* padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem; */
    padding: 0.5rem
}

.create-todo-divContainer-dueDate {
    grid-column: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.2rem;
}

.create-todo-label-dueDate {
    align-self: center;
}

.create-todo-input-dueDate {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    width: 100%;
    
}

.create-todo-divContainer-priority {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 2fr; 
}

.create-todo-label-priority {
    justify-self: center;
    align-self: center;
}

.create-todo-selectPriority {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    width: 100%;
    justify-self: end;
    
}

.create-todo-optionLow {
}

.create-todo-optionNormal {
}

.create-todo-optionHigh {
}

.input-submit-todo {
    grid-column: 1/ 3;
    align-self: end;
    height: 100%;
    width: 100%;
}

.todo-list-section {
    grid-row: 3;
    grid-column: 2 / 3;
    display: grid;
    justify-items: center;
    /* row-gap: 0.5rem; */
    width: 100%;
    background-color: rgb(38, 38, 38);
    grid-auto-rows: 120px;
    padding-top: 1rem;
}

/* todo element */
.todo {
    align-self: start;
    /* border: 1px solid black; */
    background-color: #515050;
    /* create grid like before */
    display: grid;
    grid-template-columns: 180px 400px 1fr 1fr 1.1fr;
    padding: 0.5rem;
    width: 90%;
    height: 100px;

    min-width: 900px;
    border-radius: var(--border-radius)

}

.todo-title {
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    
}

.todo-title-text {
    font-size: 0.9rem;
    background-color: var(--background-color-todo-text);
    padding-left: 0.2rem;

}

.todo-title-input {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    word-wrap: break-word;
}

.todo-description {
    width: 100%;
    height: 100%;
    border-right: 1px solid black; 
    
   
}

.todo-description-text {
    font-size: 0.9rem;
    background-color: var(--background-color-todo-text);
    padding-left: 0.2rem;
}

.todo-description-input {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    word-wrap: break-word;
}

.todo-dueDate {
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}

.todo-dueDate-text {
    font-size: 0.9rem;
    background-color: var(--background-color-todo-text);
    padding-left: 0.2rem;
}

.todo-dueDate-input {
    font-size: 1.2rem;
    padding-left: 0.2rem;
}

.todo-priority {
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}

.todo-priority-text {
    font-size: 0.9rem;
    background-color: var(--background-color-todo-text);
    padding-left: 0.2rem;
}

.todo-priority-input {
    font-size: 1.2rem;
    padding-left: 0.2rem;
}

.todo-checkbox-button {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.8rem;
    margin-left: 0.1rem;

}

.todo-checkbox-div {
    display: grid;
    grid-template-rows: 1fr 2fr;   
}

.todo-checkbox-text {
    font-size: 0.9rem;  
}

.todo-checkbox {
    height: 80%;
}

.todo-button-div {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
}

.todo-button-text {
    font-size: 0.9rem;
    height: 100%;
}

.todo-button {
    width: 80%;
    height: 80%;
    border: none;
    background-color: rgb(184, 183, 183);
    border-radius: 4px;
}

.todo-button:hover {
    background-color: rgb(199, 36, 36);
    color: white;
}

.todo-button:disabled {
    background-color: var(--button-background-disabled);
    color: white;
}