* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
}

:root {
    --main-bg: #1f1f1f; /* color should not be visible */
    --header-bg: rgb(19, 19, 19);
    --header-col: #fff;
    /*  */
    --createProject-bg: rgb(70, 70, 70);
    --createProject-col: #fff;
    /*  */
    --createToDo-bg:  rgb(70, 70, 70);
    --createToDo-col: #fff;
    /*  */
    --projects-bg: rgb(70, 70, 70);
    --projects-col: #fff;
    /*  */
    --window-createProject-bg: rgb(255, 255, 255);
    --window-createProject-col: #000000;
    /*  */
    --window-deleteProject-bg: rgb(255, 255, 255);
    --window-deleteProject-col: #000000;
    /*  */
    --window-createToDo-bg: rgb(255, 255, 255);
    --window-createToDo-col: #000000;
    /*  */
    --todo-bg: #515050;
    --todo-col: #fff;

    /* --button-background: #1a97ea; */
    --button-background: #ffffff;
    --button-color: #464646;
    --button-background-hover: rgb(38, 38, 38);
    --button-background-disabled: #383636;

    --button-2-background: #1a97ea;
    --button-2-background-hover: rgb(255, 42, 155);
    --background-color-todo-text: rgb(181, 181, 181);

    --border-windows: 1px solid #898989;
    --padding-window: 0.6rem;
    --border-radius: 4px;
}

body {
    background-color: #fff;
}

/* main container */
.container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 1.5fr 2fr 10fr;
    grid-template-columns: 1fr 3fr;
    
    background-color: var(--main-bg);
    color: #fff;
}

.header-section,
.create-project-section,
.project-section {
    /* padding-left: 1rem; */
}
/* top container (1row) */
.header-section {
    display: grid;
    align-items: center;
    grid-column: 1 / 3;

    font-size: 2rem;
    /* background-color: var(--header-bg); */
    color: var(--header-col);
    border-bottom: 1px solid #fff;
    padding-left: 1rem;
}

/* left side container (2row) */
.create-project-section {
    grid-row: 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    height: 60%;
    width: 70%;;
    background-color: var(--createProject-bg);
    color: var(--createProject-col);
    /* border: 1px solid #fff; */
    border-radius: var(--border-radius);
}

.create-project-text {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.btn-addProject {
    justify-self: start;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    margin-left: 1rem;

    border: none;
    background-color: var(--button-background);
    color: var(--button-color);
}

.btn-addProject:hover {
    background-color: var(--button-background-hover);
   
    color: #fff;
    border: 1px solid white;
    
    
}

.btn-addProject:disabled {
    background-color: var(--button-background-disabled);
}

/* create todo section (2row)*/
.create-todo-section {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--createToDo-bg);
    color: var(--createToDo-col);

    /* border: 1px solid #fff; */
    border-radius: var(--border-radius);
    width: 20%;
    height: 60%;
}

.create-todo-text {
    font-size: 1.5rem;
}

.btn-addToDo {
    justify-self: start;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 1.5rem;
    background-color: var(--button-background);
    color: var(--button-color);
}

.btn-addToDo:hover {
    background-color: var(--button-background-hover);
    color: #fff;
    border: 1px solid white;
}

.btn-addToDo:disabled {
    background-color: var(--button-background-disabled);
}

/* text and buttons for projects (3row) */
.project-section {
    justify-self: center;

    grid-row: 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 10fr;
    justify-items: center;
    align-items: center;
    background-color: var(--projects-bg);
    color: var(--projects-col);

    width: 70%;
    border-radius: var(--border-radius);
    /* border: 1px solid white; */
}


.project-displayInfo {
    align-self: center;
    grid-column: 1/ 3;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-items: center;
    width: 100%;
}

.project-text{
    font-size: 1.5rem;
}

.project-name {
    justify-self: start;
    font-size: 1.5rem;
}

.project-display-buttons {
    align-self: start;
    grid-column: 1/ 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    grid-auto-rows: 30px;
    row-gap: 1rem;
    column-gap: 1rem;
    width: 90%;
}

.btn-newProject {
    background-color: var(--button-2-background);
    border: none;
    width: 100%;
    border-radius: 4px;
    
}

.btn-newProject:hover {
    background-color: rgb(19, 19, 19);
    border: 1px solid white;
    color: #fff;
}

.btn-newProject:disabled {
    background-color: var(--button-background-disabled);
    color: white;
}

.btn-newProject-selected {
    background-color: white;
    color: black;
}

.btn-deleteProject {
    justify-self: start;
    width: 40px;
    height: 100%;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.btn-deleteProject:hover {
    /* background-color: rgb(196, 0, 0); */
    background-color: rgb(38, 38, 38);
    border: 1px solid #fff;
}

.btn-deleteProject:disabled {
    background-color: var(--button-background-disabled);
}

/* created with JavaScript */
/* window for creating/deleting a project */
.create-project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: var(--border-windows);
    border-radius: var(--border-radius);
    padding: var(--padding-window);
    font-size: 1.2rem;
    width: 40%;
    min-width: 500px;
    max-width: 600px;
    height: 160px;
    background-color: var(--window-createProject-bg);
    color: var(--window-createProject-col);
}

.create-projectHeader {
    grid-column: 1 / 2;
    font-size: 1.5rem;
    font-weight: bold;
}

.create-projectForm {
    grid-row: 2;
    grid-column: 1 / 3;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 0.5rem;
}

.create-projectLabel {
}

.create-projectInput {
    height: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem; 
}

.project-btnSubmit {
    background-color: var(--button-2-background);
    color: var(--button-background);
    border: none;
    width: 90%;
    height: 100%;
    border-radius: var(--border-radius);
    
}

.project-btnSubmit:hover {
    background-color: var(--button-background-hover);
    border: 1px solid #fff;
}

.create-projectBtnClose {
    grid-column: 2 / 3;
    justify-self: end;

    background-color: rgb(250, 2, 2);
    color: #fff;
    border: none;
    width: 25px;
    height: 25px;
}

.create-projectBtnClose:hover {
    background-color: rgb(178, 23, 23);
}


.delete-project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 2fr 1.4fr;
    align-items: center;
    
    border: var(--border-windows);
    border-radius: var(--border-radius);
    padding: var(--padding-window);
    font-size: 1.2rem;
    width: 440px;
    height: 180px; 
    background-color: var(--window-deleteProject-bg);
    color: var(--window-deleteProject-col);
}

.delete-projectHeader {
    justify-self: start;
    font-size: 1.5rem;
    font-weight: bold;
}

.delete-projectBtnClose {
    grid-column: 2 / 3;
    justify-self: end;

    background-color: rgb(250, 2, 2);
    color: #fff;
    border: none;
    width: 25px;
    height: 25px;
}

.delete-projectBtnClose:hover {
    background-color: rgb(178, 23, 23);
}

.delete-projectText {
    grid-column: 1 / 3;
}

.delete-projectContainerBtns {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 10fr;
    column-gap: 1rem;
}

.delete-projectBtnConfirm {
    width: 70px;
    height: 40px;
    background-color: var(--button-2-background);
    color: var(--button-background);
    border: none;
    border-radius: var(--border-radius);
}

.delete-projectBtnConfirm:hover {
    background-color: var(--button-background-hover);
    border: 1px solid #fff;
}

.delete-projectBtnConfirm:disabled {
    background-color: var(--button-background-disabled);
}

.delete-projectBtnDeny {
    width: 70px;
    height: 40px;
    background-color: var(--button-2-background);
    color: var(--button-background);
    border: none;
    border-radius: var(--border-radius);
}

.delete-projectBtnDeny:hover {
    background-color: var(--button-background-hover);
    border: 1px solid #fff;
}

.delete-projectBtnDeny:disabled {
    background-color: var(--button-background-disabled);
}

/* window for creating new todos */
.create-todo {
    position: absolute;

    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 1fr;

    border: var(--border-windows);
    border-radius: var(--border-radius);
    padding: var(--padding-window);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37%;
    background-color: var(--window-createToDo-bg);
    color: var(--window-createToDo-col);
}

.create-todoHeader {
    /* border: 1px solid red; */
    height: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

.create-todoBtnClose {
    grid-column: 2 / 3;
    justify-self: end;

    background-color: rgb(250, 2, 2);
    color: #fff;
    border: none;
    width: 25px;
    height: 25px;
}

.create-todoBtnClose:hover {
    background-color: rgb(178, 23, 23);
}


.create-todoForm {
    grid-column: 1 / 3;

    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 2rem;
}

.create-todoLabel {
    font-size: 1.2rem;
}

.create-todoContainerTitle {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.create-todoInputTitle {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem; 
}

.create-todoContainerDescription {
    grid-column: 1 / 3;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.create-todoInputDescription {
    /* padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem; */
    padding: 0.5rem
}

.create-todoContainerDueDate {
    grid-column: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.2rem;
}

.create-todoLabelDueDate {
    align-self: center;
}

.create-todoInputDueDate {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    width: 100%;
    
}

.create-todoContainerPriority{
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 2fr; 
}

.create-todoLabelPriority {
    justify-self: center;
    align-self: center;
}

.create-todoSelectPriority {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    width: 100%;
    justify-self: end;
    
}

.create-todoOptionLow {
}

.create-todoOptionNormal {
}

.create-todoOptionHigh {
}


.create-todoSubmit {
    grid-column: 1 / 3;
    height: 100%;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-2-background);
    color: #fff;
}

.create-todoSubmit:hover {
    background-color: var(--button-background-hover);
    border: 1px solid #fff;
}


.todo-list-section {
    grid-row: 3;
    grid-column: 2 / 3;
    display: grid;
    justify-items: center;
    /* row-gap: 0.5rem; */
    width: 100%;
    background-color: #fff;
    grid-auto-rows: 120px;
    padding-top: 1rem;
}

/* todo element */
.todo {
    align-self: start;
    /* border: 1px solid black; */
   
    /* create grid like before */
    display: grid;
    grid-template-columns: 180px 400px 1fr 1fr 1.1fr;
    padding: 0.5rem;
    width: 90%;
    height: 100px;

    min-width: 900px;
    border-radius: var(--border-radius);
    background-color: var(--todo-bg);
    color: var(--todo-col);
}

.todo-title {
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
    
}

.todo-title-text {
    font-size: 0.9rem;
    background-color: var(--background-color-todo-text);
    padding-left: 0.2rem;

}

.todo-title-input {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    word-wrap: break-word;
}

.todo-description {
    width: 100%;
    height: 100%;
    border-right: 1px solid black; 
    
   
}

.todo-description-text {
    font-size: 0.9rem;
    background-color: var(--background-color-todo-text);
    padding-left: 0.2rem;
}

.todo-description-input {
    font-size: 1.2rem;
    padding-left: 0.2rem;
    word-wrap: break-word;
}

.todo-dueDate {
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}

.todo-dueDate-text {
    font-size: 0.9rem;
    background-color: var(--background-color-todo-text);
    padding-left: 0.2rem;
}

.todo-dueDate-input {
    font-size: 1.2rem;
    padding-left: 0.2rem;
}

.todo-priority {
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}

.todo-priority-text {
    font-size: 0.9rem;
    background-color: var(--background-color-todo-text);
    padding-left: 0.2rem;
}

.todo-priority-input {
    font-size: 1.2rem;
    padding-left: 0.2rem;
}

.todo-checkbox-button {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.8rem;
    margin-left: 0.1rem;

}

.todo-checkbox-div {
    display: grid;
    grid-template-rows: 1fr 2fr;   
}

.todo-checkbox-text {
    font-size: 0.9rem;  
}

.todo-checkbox {
    height: 80%;
}

.todo-button-div {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
}

.todo-button-text {
    font-size: 0.9rem;
    height: 100%;
}

.todo-button {
    width: 80%;
    height: 80%;
    border: none;
    background-color: rgb(184, 183, 183);
    border-radius: 4px;
}

.todo-button:hover {
    background-color: rgb(38, 38, 38);
    border: 1px solid #fff;
    color: #fff;
}

.todo-button:disabled {
    background-color: var(--button-background-disabled);
    color: white;
}